<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE"/>
  </appender>

  <!-- note use of %X{key} to pull values from the Mapped Diagnostic Context (MDC) -->
  <!-- we use this to capture trace information pertaining to the request being processed -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date T:[%X{TraceId}] P:[%X{ParentSpanId}] S:[%X{SpanId}] %coloredLevel [%logger{15}] - %m%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <!-- play libraries -->
  <logger name="play" level="OFF"/>
  <logger name="org.asynchttpclient.netty" level="OFF"/>

  <!-- default (unused by anything using a named logger e.g. if LazyLogging is mixed-in to the logging class) -->
  <logger name="application" level="INFO"/>

  <root level="TRACE">
    <appender-ref ref="ASYNCSTDOUT"/>
  </root>

</configuration>